.homepage-header{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    background-color: #1d2124;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    flex-flow: row nowrap;
    color:white;
    align-items: center;
}
.logo img{
    padding: 21px;
    background: #1a1d20;
}
.logo h1{
    margin-left: 8px;
    font-weight: 700;
    font-size:22px;
}
.wrapper{
    width:1171px;
}
.homepage-header nav a{
    color:white;
    padding:15px;
    font-size:15px;
    font-weight: 600;
    text-transform: uppercase;
}
.homepage-header nav a:first-child{
    padding-left: 0;
}

.search{
    background-color: #171a1c;
    color:white;
}
.search i{
    padding:26px;
}
.heroArea{
    height: 374px;
    font-family: 'Open Sans', sans-serif;
    background-image: url("img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.heroArea::after{
    content: "";
    display: block;
    position: absolute;
    top:0;left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    z-index: 2;
}
.heroArea h2{
    font-size:27px;
    text-align: center;
    color:white;
    position: relative;
    z-index: 3;
    flex-basis: 100%;
    text-transform: uppercase;
}
.heroButtons{
    position: relative;
    z-index: 3;
    color: white;
    border-radius: 5px;
    padding: 17px 30px;
    margin: 0 9px;
}
.heroGreen{
    background-color: #89ca62;
}
.heroBlue{
    background-color: #14b9d5;
    padding: 17px 39px;
}
.hero-CallToAction{
    margin-top:50px;
}
.popularPosts{
    font-family: 'Open Sans', sans-serif;
}
.section-headers{
    font-weight: 700;
    font-size:27px;
    color:#18b4cf;
    text-align: center;
    text-transform: uppercase;
    padding:45px 0;
}
.posts-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.posts-wrapper h4{
    padding:22px 0 55px;
    text-align: center;
    color:#353a3d;
    font-size:18px;
}
.row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.posts-columns{
    display: flex;
    flex-direction: column;
}
.post5{
    align-self: center;
}
.clients{
    background-image: url("img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 23%;
    background-attachment: fixed;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.clients::after{
    content: "";
    display: block;
    position: absolute;
    top:0;left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    z-index: 2;
}
.clientsWrapper{
    height: 100%;
    margin:0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    z-index: 3;
}
.clientsWrapper h4{
    color:white;
    text-align: center;
    font-size:32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 200px;
    grid-row: 1/2;
    grid-column: 2/4;
}
.clientsWrapper h4::after{
    content: "";
    display: block;
    width: 61px;
    height: 3px;
    background: #169cb4;
    margin: 56px auto 0;
}
.clientsWrapper a{
    grid-row: 2/3;
    text-align: center;
    margin-top:63px;
}
.topRated{
    font-family: 'Open Sans', sans-serif;
}
.topRated-slides{
    /*display: grid;*/
    /*grid-template-rows: 1fr;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
    margin-left: 248px;
}
.topRated-slides a{
    width: 100%;
}
.topRated-slides a img{
    max-width: 100%;
}
.newsItemsWrapper{
    width: 90%;
    margin:0 auto;
}
.hot-news{
    margin-right: 350px;
}
.howNews{
    font-family: 'Open Sans', sans-serif;
    margin-left: 370px;
}
a{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
    font-size: 14pt;
    color: rgba(91, 100, 105, 255);
    text-decoration: none;
}
.news-rows-1{
    display: grid;
    grid-template-rows: 260px;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 4vw;
}
.news-rows-2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 65px;
}
.news-rows-3{
    display: grid;
    grid-template-rows: 260px;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 4vw;

}
.newsItemsWrapper img{
    max-width: 100%;
}
.newsItemsWrapper h4{
    font-size:18px;
    color: #353a3d;
    font-weight: 700;
    text-align: right;
    padding-top:21px;
    padding-bottom:21px;
}
.newsItemsWrapper p{
    font-size:14px;
    color: #5b6469;
    font-weight: 600;
    text-align: right;
    line-height: 21px;
}
.news-big-item{
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1.3fr 1fr;
}
.news-rows-3 .news-big-item{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1.3fr 1fr;
}
.news-rows-1 img, .news-rows-3 img{
    grid-row: 1/3;
}
.news-rows-1 h4, .news-rows-3 h4{
    padding-right: 0;
}
.news-rows-1 p,.news-rows-3 p{
    font-size: 14px;
    color: #5b6469;
    font-weight: 600;
    text-align: right;
    line-height: 21px;
    padding-left: 6%;
}
.news-small-item{
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: end;
}
.news-small-item h4{
    text-align: center;
}
.news-rows-2{
    margin:44px 0;
}
.news-rows-2 p,h4{
    padding-right: 5%;
}
.news-rows-3 .news-small-item{
    grid-column: 1/2;
}
footer{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background: #1d2124;
    padding: 27px 5%;
    margin-top: 72px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-footer{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}